<div id="<%= dom_id dream %>">
  <p>
    <strong>Title:</strong>
    <%= dream.title %>
  </p>

  <p>
    <strong>Nightmare:</strong>
    <%= dream.nightmare %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= dream.notes %>
  </p>
</div>
