<h1>Editing dream</h1>

<%= render "form", dream: @dream %>

<br>

<div>
  <%= link_to "Show Dream", @dream, class:"btn btn-outline-dark" %>
  <%= link_to "Back to Dreams", dreams_path, class:"btn btn-outline-dark" %>
</div>
